.color-container {
  display: flex;
}

.color-box {
  margin: $s-size $s-size $s-size 0;
  height: 68px;
  width: 300px;
  border: 3px solid black;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.color-box--color {
  width: 68px;
  height: 100%;
  border-right: 3px solid black;
  position: relative;
}

.tooltip-content {
  position: absolute;
  z-index: 998;
  top: 110%;
  left: -3px;
}

.visible {
  visibility: visible;
}

.color-box--hex {
  width: 150px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-box--input {
  font-size: $sub-heading;
  border: none;
  width: 100px;
  margin-left: $s-size;
  margin: auto 0 auto 0
}

.color-box--remove {
  padding: 0;
  background: transparent;
  border: none;
  display: none;
}

.radius-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 68px;
  height: 68px;
  border: 3px solid black;
  margin: $s-size $l-size 0 0;
}

.radius-box--input {
  border: none;
  width: 50%;
  height: 50%;
  text-align: center;
  font-size: $sub-heading;

  &:focus {
    outline: none;
  }
}

.rc-slider-handle:focus {
  border: 3px solid black !important;
  box-shadow: none !important;
}

.slider-container {
  display: flex;
  align-items: center;
  width: calc(100% - 110px);
}

.custom-slider-flex {
  display: flex;
  flex-direction: row;
}

.purchace-button {
  background: black;
  color: white;
  border: none;
  text-align: center;
  height: 68px;
  width: 212px;
  margin: $s-size 0 $s-size 0;
  font-weight: $font-light;
  font-size: $sub-heading;
}

.link {
  text-decoration: underline;
  cursor: pointer;
}

.cr-selected {
  background: black;

  p {
    color: white;
  }
}