video {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.videomain {
  grid-column: span 12;
}


.how-it-works {
  padding-top: $l-size;
  padding-bottom: $l-size;
  display: flex;
  justify-content: center;
  background: black;
  @media (max-width: 800px) {
    height: 100vh;
  }
}

.circle-pagination {
  height: 20px;
  width: 20px;
  border-radius: 10px;
}

.customize-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: $l-size 0 0 0;
}

.upcomming {
  background: #FFD692;
}

.custom-width-uf {
  @media only screen and (max-width: 650px) {
    width: 200px;
  }
}

.img-box {
  width: 100px;
  height: 100px;
}

.img-box-resp {
  width: 100px;
  height: 100px;
  margin-top: 2rem;
  @media only screen and (max-width: 650px) {
    width: 80px;
    height: 80px;
  }

}

.img-box-black {
  width: 125px;
  height: 125px;
  img {
    fill: white;
    background: black;
  }
}

.timeline {
  background: black;
}

.footer {
  background: white;

}

.footer-container {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.separate {
  width: 250px;
}

.logo-box {
  width: 100px
}
