.ReactModalPortal > div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 200ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}

.modal {
  background: white;
  max-width: 350px;
  outline: none;
  text-align: center;
  border: 3px solid black;
}

.modal-title {
  color: black;
  font-style: italic;
  margin: $l-size 0 $m-size 0;
  font-weight: bold;
  font-size: $heading;
}

.modal-title--complete {
  font-weight: bold;
  font-size: $heading;
  margin: 0 0 $l-size 0;
  text-align: left;
  max-width: 170px;
}

.modal__body {
  color: white;
  font-size: 2rem;
  font-weight: 200;
  margin: 0 0 $l-size 0;
  word-break: break-all;
}

.credit-card-group {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.card-exp-ccv {
  display: flex;
  flex-direction: row;
}

.exp {
  width: 50% !important;
  border-bottom: 3px solid black;
  border-left: 3px solid black;
  border-right: 1.5px solid black;
}
.ccv {
  width: 50% !important;
  border-bottom: 3px solid black;
  border-left: 1.5px solid black;
  border-right: 3px solid black;
}

.card-number-input {
  border: 3px solid black;
}

.email-group {
  p {
    float: left;
  }
  input {
    border: 3px solid black;
    width: 100%;
  }
}

.purcahse-button {
  position: relative;
  bottom: 0;
  background: black;
  color: white;
  width: 100%;
  height: 50px;
  border: none;
}

.checkout {
  padding: $l-size;
}

.makeui-loading {
  position:absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}
.makeui-loading div {
display: inline-block;
width: 75px;
height: 75px;
margin-right:15px;
background: #fff;
border: 3px solid #000000;
animation: makeui-loading 3s infinite;
}
.makeui-loading div:nth-child(1) {
animation-delay: -0.50s;
}
.makeui-loading div:nth-child(2) {
animation-delay: -0.25s;
}
.makeui-loading div:nth-child(3) {
margin:0;
animation-delay: 0;
}
@keyframes makeui-loading {
0% {
  border-radius: 0%;
}
40% {
  border-radius: 100%;
}
50% {
  border-radius: 100%;
}
90%,100% {
  border-radius: 0%;
}
}