.hr-container {
  min-width: 10%;
  align-self: flex-start;
  margin-left: 16px;
  margin-right: 16px;
  hr { 
    margin-top: 16px;
    border: white solid 1.5px; 
  }
}

.flex-row-nobreak {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.timeline-margin {
  margin-top: 5rem;
  margin-bottom: 8rem;
}

.timeline-contents {
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
  justify-content: center;
  @media only screen and (max-width: 620px) {
    width: calc(240vw - 96px);
  }

}

.scroll {
  overflow-y: scroll;
}

.timeline-peice {
  @media only screen and (max-width: 720px) {
    color:red;
  }
}

