.tooltip {
  background-image: url("/images/tooltip.svg");
  background-repeat: no-repeat;
  padding: 4px;
  padding-left: 8px;
  width: 200px;
  height: 64px;
  visibility: hidden;

  p {
    margin: 0px;
    font-size: 15px;
    line-height: 15px;
  }
}