.show-for-mobile {
    @media (min-width: $desktop-breakpoint) {
        display: none;
    }
}

.show-for-desktop {
    @media (max-width: $desktop-breakpoint - .01rem) {
        display: none;
    }
}

.full-width-mobile {
    @media (max-width: 550px) {
        width: 100% !important;
    }
}