* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* 1rem == 10px, 2.2rem == 22px etc*/
}

body {
    color: $dark-gray;
    font-family: tenso, sans-serif;
    font-size: $m-size;
    line-height: 1.6;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

.is-active {
    font-weight: bold;
}

.white {
    color: white;
}

.black {
    color: black;
}

.section-heading {
    font-size: $section-heading;
    font-weight: $font-light;
    margin: 0;
    margin-bottom: $xl-size;
    max-width: 70rem;
}

.section-heading--margin-small {
    font-size: $section-heading;
    font-weight: $font-light;
    margin: 0;
    margin-bottom: $s-size;
    margin-top: $xl-size;
    max-width: 70rem;
}

.section-heading-margin {
    margin-top: $xl-size;
}

.heading {
    margin-bottom: 0;
    font-size: $heading;
    font-weight: $font-light;
}

.sub-heading {
    font-size: $sub-heading;
    font-weight: $font-light;
}

.paragraph {
    font-size: $paragraph;
    font-weight: $font-light;
}

.center-text {
    text-align: center;
}

.no-margin {
    margin: 0;
}

.align-center {
    align-content: center;
}

.social-icon--small {
    width: 33px;
    height: 33px;
    margin-right: 8px;
}
