* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* 1rem == 10px, 2.2rem == 22px etc*/
}

body {
    font-family: tenso, sans-serif;
    font-size: $m-size;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

.is-active {
    font-weight: bold;
}

.white {
    color: white;
}

.black {
    color: black;
}

.section-heading {
    font-size: $section-heading;
    font-weight: bold;
    font-style: italic;
    margin: 0;
    margin-bottom: $xl-size;
    max-width: 70rem;
}

.section-heading--margin-small {
    font-size: $section-heading;
    font-weight: bold;
    font-style: italic;
    margin: 0;
    margin-bottom: $s-size;
    margin-top: $s-size;
    max-width: 70rem;

    @media only screen and (max-width: 460px) {
        font-size: 32px;
    }
}

.section-heading-margin {
    margin-top: $xl-size;
}

.heading {
    margin-bottom: 0;
    font-size: $heading;
}

.heading-light {
    margin: 0;
    font-size: 48px;
    font-family: tenso, sans-serif;
    font-weight: 300;
    max-width: 780px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.sub-heading {
    margin-top: 40px;
    font-size: $sub-heading;
    font-weight: bold;
    @media only screen and (max-width: 460px) {
        font-size: 18px;
    }
}

.sub-heading-mobile {
    margin-top: 40px;
    font-size: $sub-heading-mobile;
    font-weight: bold;
}

.paragraph {
    font-size: $paragraph;
    font-weight: 300;
    line-height: 31px;
}

.paragraph-mobile {
    font-size: $paragraph-mobile;
    line-height: 25px;
}

.paragraph-bold {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 50px;
}

.underline {
    border-bottom: 3px solid black;
    cursor: pointer;
}

.center-text {
    text-align: center;
}

.no-margin {
    margin: 0;
}

.align-center {
    align-content: center;
}

.social-icon--small {
    width: 33px;
    height: 33px;
    margin-right: 8px;
}

.description-header {
    font-weight: bold;
    font-size: 18px;
    @media only screen and (max-width: 430px) {
        font-size: 14px;
    }
}

.description {
    font-size: 18px;
    @media only screen and (max-width: 430px) {
        font-size: 14px;
    }
}
