.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (max-width: $desktop-breakpoint) {
    flex-direction: column;
    align-items: center;
  }
}

.flex-row-break-dl {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (max-width: $desktop-breakpoint-dl) {
    flex-direction: column;
    align-items: center;
  }
}

.flex-row-normal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @media (max-width: $desktop-breakpoint) {
    flex-direction: column;
    align-items: stretch;
  }
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-h {
  display: flex;
  justify-content: center;
}

.align-center {
  align-items: center;
}

.flex-third {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 33.3%;
  padding: $l-size;
}